<p id="notice"><%= notice %></p>
<ul>
  <li><%= @sindicalizado.nome %></li>
  <li><%= @sindicalizado.rg %></li>
  <li><%= @sindicalizado.cpf %></li>
  <li><%= t(@sindicalizado.genero) %></li>
  <li><%= t(@sindicalizado.estado_civil) %></li>
</ul>
