<!-- <h1><%= t('hello') %></h1>
<% if user_signed_in? %>
  <div> não é sindicalizado? <%= current_user.sindicalizado.nil? %></div>
  <div><%= link_to 'Dados pessoais', perfil_dados_pessoais_path %></div>
  <div>Signed in as... <%= current_user.email %></div>
<% end %>
 -->
<%= link_to destroy_user_session_path, method: :delete do %>
   <%= content_tag :span, t('sign_out') %>
   <em class="fa fa-sign-out"></em>
<% end %>

<div class="panel-body">
    <h1>This is Home#index</h1>
</div>
